.git
.github
.idea
__pycache__
*.py[cod]
*.log
.env
.env.*
!.env.docker.example
data
log
screenshots
toolkit
config/*.yaml
!config/deploy.template.yaml
!config/deploy.template-cn.yaml
config/*.ini
config/backup
